{% extends 'base.html.twig' %}

{% block title %}New History{% endblock %}

{% block body %}
    <h1>Create new History</h1>

    {{ include('board_history/_form.html.twig') }}

    <a href="{{ path('app_board_history_index') }}">back to list</a>
{% endblock %}
